@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* This will prevent horizontal overflow for the whole body */
  }
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #474747;
    border-radius: 10px ;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #8358fc;
    border-radius: 10px ;
}


.select {
    position: relative;
    width: 200px;
}

.select select {
    width: 100%;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #6f6d6d;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #eae9e9;
    outline: none;
    transition: all 0.3s ease;
}

.select select:hover {
    background-color: #585757;
}

.select::after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #333;
}
